.menu-content,
.menu-item,
.menu-item-title {
    display: flex
}

.menu-content {
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin: 0 25%;
    min-width: fit-content;
    background-color: rgb(244, 244, 155);
    border: 2px dotted rgb(247, 121, 121)
}

.menu-item {
    flex-direction: column;
    margin-bottom: 1rem;
}

.menu-item-title {
    justify-content: space-between;
    gap: clamp(24px, 2rem, 4rem);
}

.menu-item-name,
.menu-item-price {
    margin: 1rem 0 0 0;
}

.menu-item-name {
    flex-grow: 2;
}